absl-py==1.0.0
astunparse==1.6.3
attrs==21.4.0
Automat==22.10.0
cachetools==5.2.0
certifi==2022.5.18.1
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
coloredlogs==15.0.1
constantly==15.1.0
construct==2.10.68
cycler==0.11.0
dill==0.3.6
etils==0.9.0
Flask==2.1.2
flatbuffers==22.10.26
flow==0.0.1
fonttools==4.33.3
gast==0.4.0
google-auth==2.14.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.57.0
grpcio==1.50.0
h5py==3.7.0
humanfriendly==10.0
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.11.4
importlib-resources==5.10.0
incremental==22.10.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.0
keras==2.11.0
kiwisolver==1.4.2
libclang==14.0.6
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.2
mediapipe==0.8.10
mpmath==1.2.1
numpy==1.23.4
oauthlib==3.2.2
onnx==1.12.0
onnxruntime==1.13.1
opencv-contrib-python==4.5.5.64
opencv-python==4.5.5.64
opt-einsum==3.3.0
packaging==21.3
pandas==1.5.1
Pillow==9.1.1
ply==3.11
promise==2.3
protobuf==3.20.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodomex==3.15.0
pyparsing==3.0.9
pyreadline3==3.4.1
pysmi==0.3.4
python-dateutil==2.8.2
pytz==2022.6
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.1.1
scipy==1.8.1
six==1.16.0
sympy==1.11.1
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-datasets==4.7.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.27.0
tensorflow-metadata==1.11.0
termcolor==2.1.0
threadpoolctl==3.1.0
toml==0.10.2
torch==1.13.0
torchaudio==0.13.0
torchvision==0.14.0
tqdm==4.64.1
twisted-iocpsupport==1.0.2
typing_extensions==4.4.0
urllib3==1.26.9
Werkzeug==2.1.2
wrapt==1.14.1
zipp==3.8.0
zope.interface==5.5.2
